<form action="">
    <h1> Welcome to YES Bank</h1>
    <div class="container">     
              
        <div class="jumbotron">
            <div class="row">
                <div class="col">
            <div class="row">
            
                
                    
                    <label for="accno">Account Number</label>
                    <input [(ngModel)]="accno" name="accno" type="text" class="form-control" id="accno">
               
            </div>
            <div class="row">
                
                    <label for="pwd">Password</label>
                    <input [(ngModel)]="pwd" name="pwd" type="password" class="form-control" id="pwd">
               
                </div>
                <br>
<div>
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
                <a routerLink="register">Registration</a></div>
           
       </div>
       </div>

        </div>
        </div>
    
    
  

</form>
